@define-color bg #050D16;
@define-color fg #fafbfc;
@define-color gray1 #78A5C5;
@define-color gray2 #587ea8;
@define-color gray3 #8babcb;
@define-color gray4 #a8a49e;
@define-color gray5 #8db6d8;
@define-color fg_bright #fafbfc;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}